
<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes, shrink-to-fit=no">
    <!-- META OG IMAGES -->
    <title>Contact Us - ElectYourFuture</title>
    <meta property="og:image" content="https://electyourfuture.com/assets/og-images/thumbnail-square.jpg" />
    <meta property="og:image" content="https://electyourfuture.com/assets/og-images/thumbnail-wide.jpg" />
    <meta property="og:type" content="website" />
    <meta name="description" content="Contact electyourfuture team.">
    <meta name="keywords" content="email electyourfuture.com, contact us, contact emailyourfuture.com">
    <link rel="stylesheet" href="/assets/css/common.css?v=2021040301">
    <link rel="stylesheet" href="/assets/css/home.css?v=2021040301">
</head>
<body>
    
    <div id="app" class="c-Section c-Home">
        <div class="c-Main-nav c-Main-nav c-Main-nav--plain">
            <div class="c-Main-nav__logo">
                <div class="c-Main-nav-img__logo">
                    <a href="/"><img src="/assets/images/meta/logo.png" alt="elect-your-future-logo"></a>
                </div>
                <div id="hamburger-menu">
                    <div class="o-Hambrg__line1"></div>
                    <div class="o-Hambrg__line2"></div>
                    <div class="o-Hambrg__line3"></div>
                </div>
            </div>
            <ul class="c-Main-nav__items">
                <li class="c-Main-nav__item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="c-Main-nav__item">
                    <a href="/who-we-are/" class="nav-link">Who we are?</a>
                </li>
                <li class="c-Main-nav__item">
                    <a href="/contact-us/" class="nav-link">Contact</a>
                </li>
                <li class="c-Main-nav__item">
                    <a href="/results/" class="nav-link">Results</a>
                </li>
            </ul>
        </div>

        <div class="c-Section__container c-Section__container--plain">
            <div class="c-Section__img-wrapper">
                <div class="c-Section__img c-Section__img--logo-blue"></div>
            </div>
            <div class="c-Section__content">
                <h3>Contact US</h3>
                <p>Being an appreciation or suggestions we would like to hear it from you. Feel free to contact us.</p>                
            </div>
            <div class="c-Section__txt-left">
                <div class="c-Section-txt__wrapper c-Section-txt__wrapper--plain c-Section-txt__wrapper--flx-row">
                    <h3>Email Address: </h3>
                    <p><a href="mailto:info@electyourfuture.com?subject=Hello eyf's Team">info@electyourfuture.com</a></p>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/dist/main.js?v=2021040301"></script>
    <script src="/assets/scripts/svg4everybody.min.js?v=2021040301"></script>
    
</body>
</html>