
<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes, shrink-to-fit=no">
    <!-- META OG IMAGES -->
    <meta property="og:image" content="https://electyourfuture.com/assets/og-images/thumbnail-square.jpg" />
    <meta property="og:image" content="https://electyourfuture.com/assets/og-images/thumbnail-wide.jpg" />
    <meta property="og:type" content="website" />
    <title>Disclaimer and Privacy Policy - ElectYourFuture</title>
    <meta name="description" content="electyourfuture.com - Information about who we are.">
    <meta name="keywords" content="about electyourfuture.com">
    <link rel="stylesheet" href="/assets/css/common.css?v=2021040301">
    <link rel="stylesheet" href="/assets/css/home.css?v=2021040301">
</head>
<body>
    
    <div id="app" class="c-Section c-Home">
        <div class="c-Main-nav c-Main-nav c-Main-nav--plain">
            <div class="c-Main-nav__logo">
                <div class="c-Main-nav-img__logo">
                    <a href="/"><img src="/assets/images/meta/logo.png" alt="elect-your-future-logo"></a>
                </div>
                <div id="hamburger-menu">
                    <div class="o-Hambrg__line1"></div>
                    <div class="o-Hambrg__line2"></div>
                    <div class="o-Hambrg__line3"></div>
                </div>
            </div>
            <ul class="c-Main-nav__items">
                <li class="c-Main-nav__item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="c-Main-nav__item">
                    <a href="/who-we-are/" class="nav-link">Who we are?</a>
                </li>
                <li class="c-Main-nav__item">
                    <a href="/contact-us/" class="nav-link">Contact</a>
                </li>
                <li class="c-Main-nav__item">
                    <a href="/results/" class="nav-link">Results</a>
                </li>
            </ul>
        </div>

        <div class="c-Section__container c-Section__container--plain">
            <div class="c-Section__img-wrapper">
                <div class="c-Section__img c-Section__img--logo-blue"></div>
            </div>
            <div class="c-Section__content" style="text-align: left;">
                <h3>Disclaimer</h3>
                <p>All states, constituency and major parties listed on the website is taken from the open source information that is provided across the internet and mostly from Wikipedia. It is provided only; it is not the official list. Lots of information presented on this website is based on personal experience of this application creator and wide range of information that are around the internet. This is a private website and is not affiliated with any political parties or government. electyourfuture.com does not encourage or represent any visitors in any manner. None of the website creators take part in the election. Taking part of this survey is voluntering. You should not therefore take the results or list of parties that are announced on this website as an advice. Please research yourselves and consult proper officials before coming to any conclusion that you obtained.</p>                
            </div>
            <div class="c-Section__content" style="text-align: left;">
                <h3>Privacy Policy</h3>
                <p>We gather certain information to calculate the vote and collect email to those volunteer to know the results. We do not share your personal information outside and we will delete your email address once the final results have been notified. We protect your personal information. Your vote is anonymous. However, we cannot guarantee our ability as internet transmission is not 100% secure. If you vote and enter your email address on our website, it is your responsibility to securly enter it.</p>
            </div>
            <a class="o-Btn o-Btn--animate o-Btn--hyperion" href="/your-state-and-constituency/">
                <span>
                    <span>Vote Now</span>
                </span>
            </a>            
        </div>
    </div>
    <script src="/assets/dist/main.js?v=2021040301"></script>
    <script src="/assets/scripts/svg4everybody.min.js?v=2021040301"></script>
    
</body>
</html>