
<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes, shrink-to-fit=no">
    <!-- META OG IMAGES -->
    <meta property="og:image" content="https://electyourfuture.com/assets/og-images/thumbnail-square.jpg" />
    <meta property="og:image" content="https://electyourfuture.com/assets/og-images/thumbnail-wide.jpg" />
    <meta property="og:type" content="website" />
    <title>Results of the polling survey - 2021 Assembly Elections - ElectYourFuture</title>
    <meta name="description" content="Online polling survey results of the 2021 Indian Assembly elections.">
    <meta name="keywords" content="online election polling survey results, tn election, tamilnadu election, pondicherry election, online voting">
    <link rel="stylesheet" href="/assets/css/common.css?v=2021040301">
    <link rel="stylesheet" href="/assets/css/home.css?v=2021040301">
    <link rel="stylesheet" href="/assets/css/results.css?v=2021040301">
   <!-- Global site tag (gtag.js) - Google Analytics -->
   <script async src="https://www.googletagmanager.com/gtag/js?id=G-PRXW0HD5ZT"></script>
   <script>
   window.dataLayer = window.dataLayer || [];
   function gtag(){dataLayer.push(arguments);}
   gtag('js', new Date());

   gtag('config', 'G-PRXW0HD5ZT');
   </script>
   <!-- Google Tag Manager -->
   <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
   new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
   j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
   'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
   })(window,document,'script','dataLayer','GTM-5HG53QH');</script>
   <!-- End Google Tag Manager -->
</head>
<body>
   <!-- Google Tag Manager (noscript) -->
   <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5HG53QH"
   height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
   <!-- End Google Tag Manager (noscript) -->
    <div id="app" class="c-Section c-Home">
        <div class="c-Main-nav c-Main-nav c-Main-nav--plain">
            <div class="c-Main-nav__logo">
                <div class="c-Main-nav-img__logo">
                    <a href="/"><img src="/assets/images/meta/logo.png" alt="elect-your-future-logo"></a>
                </div>
                <div id="hamburger-menu">
                    <div class="o-Hambrg__line1"></div>
                    <div class="o-Hambrg__line2"></div>
                    <div class="o-Hambrg__line3"></div>
                </div>
            </div>
            <ul class="c-Main-nav__items">
                <li class="c-Main-nav__item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="c-Main-nav__item">
                    <a href="/who-we-are/" class="nav-link">Who we are?</a>
                </li>
                <li class="c-Main-nav__item">
                    <a href="/contact-us/" class="nav-link">Contact</a>
                </li>
                <li class="c-Main-nav__item">
                    <a href="/results/" class="nav-link">Results</a>
                </li>
            </ul>
        </div>

        <div class="c-Section__container c-Section__container--plain">
            <div class="c-Section__img-wrapper">
                <div class="c-Section__img c-Section__img--announcement"></div>
            </div>
            <div class="c-Section__content">
                <h3>2021 - Assembly Election Result - TamilNadu</h3>
            </div>
            <div class="c-Results-analytics">
                <div class="c-Results-analytics__wrap">
                    <div class="c-Results-anly__count">
                        <span>2100</span>
                        <div>Users <span>Over 2100+ users across the globe.</span></div>
                    </div>
                    <div class="c-Results-anly__count">
                        <span>15</span>
                        <div>Countries <span>Participants over 15+ countries.</span></div>
                    </div>
                    <div class="c-Results-anly__count">
                        <span>160</span>
                        <div>Constituencies <span>Polled over 160+ constituencies.</span></div>
                    </div>
                </div>
            </div>
            <div class="c-Results-main">
                <div class="c-Results-lead">
                    <h2>And the winner is..</h2>
                    <ul class="bar-graph"> 
                        <li>
                            <p>DMK/CONGRESS Alliance</p>
                            <div class="bar-wrap"><span class="bar-fill" style="width: 37%;"></span></div>
                        </li> 
                        <li>
                            <p>Makkal Nidhi Maiyam MNM</p>
                            <div class="bar-wrap"><span class="bar-fill" style="width: 28%;"></span></div>
                        </li> 
                        <li>
                            <p>ADMK/BJP Alliance</p>
                            <div class="bar-wrap"><span class="bar-fill"  style="width: 22%;"></span></div>
                        </li> 
                        <li>
                            <p>Naam Tamilar NTK</p>
                            <div class="bar-wrap"><span class="bar-fill" style="width: 12%;"></span></div>
                        </li>
                        <li>
                            <p>AMMK Alliance</p>
                            <div class="bar-wrap"><span class="bar-fill" style="width: 1%;"></span></div>
                        </li> 
                    </ul>                      
                </div>
                <div class="c-Results-consti"><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Alandur
                  </div> <div class="card-content"><div class="card-tie">Tug of War between</div> <span>ADMK/BJP Alliance</span> <div>Makkal Nidhi Maiyam MNM</div></div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Ambattur
                  </div> <div class="card-content"><!----> <span>ADMK/BJP Alliance</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Anna Nagar
                  </div> <div class="card-content"><!----> <span>DMK/CONGRESS Alliance</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Arakkonam
                  </div> <div class="card-content"><!----> <span>DMK/CONGRESS Alliance</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Aravakurichi
                  </div> <div class="card-content"><!----> <span>Makkal Nidhi Maiyam MNM</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Aruppukkottai
                  </div> <div class="card-content"><!----> <span>DMK/CONGRESS Alliance</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Avadi
                  </div> <div class="card-content"><!----> <span>DMK/CONGRESS Alliance</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Chengalpattu
                  </div> <div class="card-content"><!----> <span>Makkal Nidhi Maiyam MNM</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Chepauk-Thiruvallikeni
                  </div> <div class="card-content"><!----> <span>DMK/CONGRESS Alliance</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Cheyyar
                  </div> <div class="card-content"><!----> <span>DMK/CONGRESS Alliance</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Coimbatore North
                  </div> <div class="card-content"><div class="card-tie">Tug of War between</div> <span>DMK/CONGRESS Alliance</span> <div>Makkal Nidhi Maiyam MNM</div></div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Coimbatore South
                  </div> <div class="card-content"><!----> <span>Makkal Nidhi Maiyam MNM</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Cuddalore
                  </div> <div class="card-content"><!----> <span>Makkal Nidhi Maiyam MNM</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Cumbum
                  </div> <div class="card-content"><!----> <span>DMK/CONGRESS Alliance</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Dharapuram
                  </div> <div class="card-content"><!----> <span>Makkal Nidhi Maiyam MNM</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Dharmapuri
                  </div> <div class="card-content"><!----> <span>Makkal Nidhi Maiyam MNM</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Dindigul
                  </div> <div class="card-content"><!----> <span>DMK/CONGRESS Alliance</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Egmore
                  </div> <div class="card-content"><!----> <span>DMK/CONGRESS Alliance</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Erode (West)
                  </div> <div class="card-content"><!----> <span>Makkal Nidhi Maiyam MNM</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Gobichettipalayam
                  </div> <div class="card-content"><!----> <span>Makkal Nidhi Maiyam MNM</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Gudalur
                  </div> <div class="card-content"><!----> <span>DMK/CONGRESS Alliance</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Jayankondam
                  </div> <div class="card-content"><!----> <span>Naam Tamilar NTK</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Kadayanallur
                  </div> <div class="card-content"><!----> <span>Makkal Nidhi Maiyam MNM</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Kancheepuram
                  </div> <div class="card-content"><!----> <span>Makkal Nidhi Maiyam MNM</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Kangayam
                  </div> <div class="card-content"><!----> <span>ADMK/BJP Alliance</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Karaikudi
                  </div> <div class="card-content"><!----> <span>DMK/CONGRESS Alliance</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Karur
                  </div> <div class="card-content"><!----> <span>ADMK/BJP Alliance</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Kavundampalayam
                  </div> <div class="card-content"><!----> <span>Makkal Nidhi Maiyam MNM</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Kilpennathur
                  </div> <div class="card-content"><!----> <span>Naam Tamilar NTK</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Kinathukadavu
                  </div> <div class="card-content"><!----> <span>ADMK/BJP Alliance</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Kolathur
                  </div> <div class="card-content"><div class="card-tie">Tug of War between</div> <span>DMK/CONGRESS Alliance</span> <div>Makkal Nidhi Maiyam MNM</div></div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Kovilpatti
                  </div> <div class="card-content"><!----> <span>DMK/CONGRESS Alliance</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Kumbakonam
                  </div> <div class="card-content"><!----> <span>ADMK/BJP Alliance</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Madathukulam
                  </div> <div class="card-content"><!----> <span>Naam Tamilar NTK</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Madavaram
                  </div> <div class="card-content"><div class="card-tie">Tug of War between</div> <span>ADMK/BJP Alliance</span> <div>Makkal Nidhi Maiyam MNM</div></div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Madurai Central
                  </div> <div class="card-content"><div class="card-tie">Tug of War between</div> <span>DMK/CONGRESS Alliance</span> <div>Naam Tamilar NTK</div></div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Madurai East
                  </div> <div class="card-content"><div class="card-tie">Tug of War between</div> <span>ADMK/BJP Alliance</span> <div>Makkal Nidhi Maiyam MNM</div></div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Madurai North
                  </div> <div class="card-content"><!----> <span>Naam Tamilar NTK</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Madurai South
                  </div> <div class="card-content"><div class="card-tie">Tug of War between</div> <span>DMK/CONGRESS Alliance</span> <div>Makkal Nidhi Maiyam MNM</div></div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Maduravoyal
                  </div> <div class="card-content"><div class="card-tie">Tug of War between</div> <span>ADMK/BJP Alliance</span> <div>Naam Tamilar NTK</div><div>Makkal Nidhi Maiyam MNM</div></div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Manachanallur
                  </div> <div class="card-content"><!----> <span>Makkal Nidhi Maiyam MNM</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Manapaarai
                  </div> <div class="card-content"><!----> <span>Makkal Nidhi Maiyam MNM</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Mannargudi
                  </div> <div class="card-content"><!----> <span>DMK/CONGRESS Alliance</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Mayiladuthurai
                  </div> <div class="card-content"><!----> <span>Makkal Nidhi Maiyam MNM</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Mettupalayam
                  </div> <div class="card-content"><div class="card-tie">Tug of War between</div> <span>DMK/CONGRESS Alliance</span> <div>ADMK/BJP Alliance</div></div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Mettur
                  </div> <div class="card-content"><!----> <span>Naam Tamilar NTK</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Mudhukulathur
                  </div> <div class="card-content"><!----> <span>Naam Tamilar NTK</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Mylapore
                  </div> <div class="card-content"><!----> <span>DMK/CONGRESS Alliance</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Nagercoil
                  </div> <div class="card-content"><!----> <span>DMK/CONGRESS Alliance</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Namakkal
                  </div> <div class="card-content"><div class="card-tie">Tug of War between</div> <span>ADMK/BJP Alliance</span> <div>Naam Tamilar NTK</div><div>Makkal Nidhi Maiyam MNM</div></div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Nanguneri
                  </div> <div class="card-content"><!----> <span>Makkal Nidhi Maiyam MNM</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Neyveli
                  </div> <div class="card-content"><!----> <span>Makkal Nidhi Maiyam MNM</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Oddanchatram
                  </div> <div class="card-content"><!----> <span>ADMK/BJP Alliance</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Palani
                  </div> <div class="card-content"><div class="card-tie">Tug of War between</div> <span>DMK/CONGRESS Alliance</span> <div>ADMK/BJP Alliance</div></div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Pallavaram
                  </div> <div class="card-content"><div class="card-tie">Tug of War between</div> <span>Naam Tamilar NTK</span> <div>DMK/CONGRESS Alliance</div></div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Papanasam
                  </div> <div class="card-content"><!----> <span>Makkal Nidhi Maiyam MNM</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Paramathi Velur
                  </div> <div class="card-content"><!----> <span>DMK/CONGRESS Alliance</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Perambur
                  </div> <div class="card-content"><!----> <span>ADMK/BJP Alliance</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Periyakulam
                  </div> <div class="card-content"><div class="card-tie">Tug of War between</div> <span>Makkal Nidhi Maiyam MNM</span> <div>AMMK Alliance</div><div>ADMK/BJP Alliance</div></div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Pollachi
                  </div> <div class="card-content"><div class="card-tie">Tug of War between</div> <span>Makkal Nidhi Maiyam MNM</span> <div>DMK/CONGRESS Alliance</div></div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Poonamallee
                  </div> <div class="card-content"><!----> <span>Makkal Nidhi Maiyam MNM</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Radhakrishnan Nagar
                  </div> <div class="card-content"><!----> <span>ADMK/BJP Alliance</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Radhapuram
                  </div> <div class="card-content"><!----> <span>Naam Tamilar NTK</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Rasipuram
                  </div> <div class="card-content"><!----> <span>ADMK/BJP Alliance</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Royapuram
                  </div> <div class="card-content"><!----> <span>DMK/CONGRESS Alliance</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Saidapet
                  </div> <div class="card-content"><!----> <span>DMK/CONGRESS Alliance</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Salem (South)
                  </div> <div class="card-content"><div class="card-tie">Tug of War between</div> <span>Makkal Nidhi Maiyam MNM</span> <div>ADMK/BJP Alliance</div></div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Sankarankovil
                  </div> <div class="card-content"><div class="card-tie">Tug of War between</div> <span>ADMK/BJP Alliance</span> <div>DMK/CONGRESS Alliance</div></div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Sankari
                  </div> <div class="card-content"><!----> <span>DMK/CONGRESS Alliance</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Senthamangalam
                  </div> <div class="card-content"><!----> <span>Makkal Nidhi Maiyam MNM</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Sholinganallur
                  </div> <div class="card-content"><!----> <span>Makkal Nidhi Maiyam MNM</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Sholingur
                  </div> <div class="card-content"><!----> <span>Makkal Nidhi Maiyam MNM</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Singanallur
                  </div> <div class="card-content"><!----> <span>DMK/CONGRESS Alliance</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Srirangam
                  </div> <div class="card-content"><!----> <span>DMK/CONGRESS Alliance</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Sulur
                  </div> <div class="card-content"><div class="card-tie">Tug of War between</div> <span>ADMK/BJP Alliance</span> <div>Makkal Nidhi Maiyam MNM</div><div>DMK/CONGRESS Alliance</div></div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    T. Nagar
                  </div> <div class="card-content"><!----> <span>Makkal Nidhi Maiyam MNM</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Tambaram
                  </div> <div class="card-content"><div class="card-tie">Tug of War between</div> <span>ADMK/BJP Alliance</span> <div>Makkal Nidhi Maiyam MNM</div></div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Thiruvallur
                  </div> <div class="card-content"><!----> <span>DMK/CONGRESS Alliance</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Thiruverumbur
                  </div> <div class="card-content"><!----> <span>Makkal Nidhi Maiyam MNM</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Thiruvidaimarudur
                  </div> <div class="card-content"><!----> <span>DMK/CONGRESS Alliance</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Thiruvottiyur
                  </div> <div class="card-content"><!----> <span>DMK/CONGRESS Alliance</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Thondamuthur
                  </div> <div class="card-content"><!----> <span>Makkal Nidhi Maiyam MNM</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Thousand Lights
                  </div> <div class="card-content"><!----> <span>DMK/CONGRESS Alliance</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Tiruchengodu
                  </div> <div class="card-content"><!----> <span>Naam Tamilar NTK</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Tiruchirappalli (East)
                  </div> <div class="card-content"><!----> <span>Naam Tamilar NTK</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Tiruchirappalli (West)
                  </div> <div class="card-content"><div class="card-tie">Tug of War between</div> <span>DMK/CONGRESS Alliance</span> <div>ADMK/BJP Alliance</div></div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Tirunelveli
                  </div> <div class="card-content"><!----> <span>DMK/CONGRESS Alliance</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Tirupattur, Vellore
                  </div> <div class="card-content"><!----> <span>DMK/CONGRESS Alliance</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Tiruppur South
                  </div> <div class="card-content"><!----> <span>ADMK/BJP Alliance</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Tiruttani
                  </div> <div class="card-content"><div class="card-tie">Tug of War between</div> <span>ADMK/BJP Alliance</span> <div>Naam Tamilar NTK</div></div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Udhagamandalam
                  </div> <div class="card-content"><!----> <span>Naam Tamilar NTK</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Udumalaipettai
                  </div> <div class="card-content"><!----> <span>Makkal Nidhi Maiyam MNM</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Valparai
                  </div> <div class="card-content"><!----> <span>ADMK/BJP Alliance</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Vanur
                  </div> <div class="card-content"><!----> <span>DMK/CONGRESS Alliance</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Vedaranyam
                  </div> <div class="card-content"><!----> <span>Makkal Nidhi Maiyam MNM</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Vedasandur
                  </div> <div class="card-content"><!----> <span>Naam Tamilar NTK</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Vellore (Vellore south)
                  </div> <div class="card-content"><!----> <span>ADMK/BJP Alliance</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Veppanahalli
                  </div> <div class="card-content"><div class="card-tie">Tug of War between</div> <span>AMMK Alliance</span> <div>ADMK/BJP Alliance</div></div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Vilathikulam
                  </div> <div class="card-content"><!----> <span>DMK/CONGRESS Alliance</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Villivakkam
                  </div> <div class="card-content"><div class="card-tie">Tug of War between</div> <span>DMK/CONGRESS Alliance</span> <div>Naam Tamilar NTK</div></div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Virugambakkam
                  </div> <div class="card-content"><!----> <span>ADMK/BJP Alliance</span> </div></div><div class="card"><div class="background"></div> <div class="card-icon"><div class="wrap"><span class="shield"></span></div></div> <div class="card-title">
                    Yercaud
                  </div> <div class="card-content"><!----> <span>Naam Tamilar NTK</span> </div></div></div>
            </div>
        </div>
        <div class="c-Footer" style="text-align: center;">
            <a href="/disclaimer-privacy-policy/">Privcy | Disclaimer</a>
        </div>
    </div>
    <script src="/assets/dist/main.js?v=2021040301"></script>
    <script src="/assets/scripts/svg4everybody.min.js?v=2021040301"></script>
    
</body>
</html>