
<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes, shrink-to-fit=no">
    <!-- META OG IMAGES -->
    <title>2021 Resutls for Assembly Elections - ElectYourFuture</title>
    <meta name="description" content="Safe and secure website to poll your votes online for the upcomning Indian Assembly elections.">
    <meta name="keywords" content="online election polling, tn election, tamilnadu election, pondicherry election, online voting">
    <link rel="stylesheet" href="/assets/css/common.css?v=2021040301">
    <link rel="stylesheet" href="/assets/css/home.css?v=2021040301">
    <style>
        .c-Footer {text-align: center;}
        .c-Footer a {
            color: #aeaeae;
        }
    </style>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-PRXW0HD5ZT"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-PRXW0HD5ZT');
    </script>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-5HG53QH');</script>
    <!-- End Google Tag Manager -->
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5HG53QH"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- <div id="app"></div> -->
    <div class="c-Section c-Home c-Section--blue">
        <div class="c-Main-nav">
            <div class="c-Main-nav__logo">
                <div class="c-Main-nav-img__logo">
                    <a href="/"><img src="/assets/images/meta/logo-white.png" alt="elect-your-future-logo"></a>
                </div>
                <div id="hamburger-menu">
                    <div class="o-Hambrg__line1"></div>
                    <div class="o-Hambrg__line2"></div>
                    <div class="o-Hambrg__line3"></div>
                </div>
            </div>
            <ul class="c-Main-nav__items">
                <li class="c-Main-nav__item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="c-Main-nav__item">
                    <a href="/who-we-are/" class="nav-link">Who we are?</a>
                </li>
                <li class="c-Main-nav__item">
                    <a href="/contact-us/" class="nav-link">Contact</a>
                </li>
                <li class="c-Main-nav__item">
                    <a href="/results/" class="nav-link">Results</a>
                </li>
            </ul>
        </div>

        <div class="c-Section__container">
            <div class="o-Icon c-Section__icon-wrapper">
                <svg class="icon">
                    <use xlink:href="/assets/svg/icons.svg#flag"></use>
                </svg>
            </div>
            <div class="c-Section__txt-center">
                2021 eyf's online election results of TamilNadu are out. The wait is finally over to know which party has won the hearts of online polling. This is the first time that an online election has been conducted at a constituency level. eyf's team takes this opportunity to thank every participant who had not just participate but shared and promoted this survey.
            </div>
            <a class="o-Btn o-Btn--animate o-Btn--white o-Btn--hyperion" href="/results/">
                <span>
                    <span>2021 Results</span>
                </span>
            </a>
        </div>

        <div class="c-Footer">
            <a href="/disclaimer-privacy-policy/">Privcy | Disclaimer</a>
        </div>
    </div>
    <script src="/assets/dist/main.js?v=2021040301"></script>
    <script src="/assets/scripts/svg4everybody.min.js?v=2021040301"></script>
    <script src="/assets/firebase/firebase-app.js"></script>
    <script src="/assets/firebase/firebase-messaging.js"></script>
    <script src="/assets/firebase/script.js"></script>
    
</body>
</html>