
<!DOCTYPE HTML>
<html lang="en-US">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=9" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=yes, shrink-to-fit=no">
    <!-- META OG IMAGES -->
    <meta property="og:image" content="https://electyourfuture.com/assets/og-images/thumbnail-square.jpg" />
    <meta property="og:image" content="https://electyourfuture.com/assets/og-images/thumbnail-wide.jpg" />
    <meta property="og:type" content="website" />
    <title>Successfully casted online survey - 2021 Assembly Elections - ElectYourFuture</title>
    <meta name="description" content="Casted your vote in online survey for the 2021 Indian Assembly election.">
    <meta name="keywords" content="vote casted in online election polling survey, tn election, tamilnadu election, pondicherry election, online voting">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/common.css?v=2021040301">
    <link rel="stylesheet" href="/assets/css/home.css?v=2021040301">
    <script>
        var voteSuccess = true;
    </script>
    <style>
        .social_share {
            display: flex;
            list-style: none;
            padding: 0;
            position: relative;
            left: -30px;
        }
        .social_share li + li {
            margin-left: 8px;
        }

        .social_share a {
            display: flex;
            width: 40px;
            height: 40px;
            color: white;
            font-size: 17px;
            text-align: center;
            border-radius: 50%;
            opacity: 0.75;
            transition: opacity 0.15s linear;
            align-items: baseline;
            justify-content: center;
        }
        .social_share a:hover {
            opacity: 1;
        }

        .social_share i {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

        .facebook {
            background: #3b5998;
        }

        .twitter {
            background: #55acee;
        }

        .googleplus {
            background: #dd4b39;
        }

        .email {
            background: #be4bdb;
        }

        .instagram {
            background-color: #5d47da;
        }

        .whatsapp {
            background-color: #00ca71;
        }
    </style>
</head>
<body>
    <!-- <div id="app"></div> -->
    <div id="app" class="c-Section c-Section--green c-Home">
        <div class="c-Main-nav c-Main-nav c-Main-nav--plain">
            <div class="c-Main-nav__logo">
                <div class="c-Main-nav-img__logo">
                    <a href="/"><img src="/assets/images/meta/logo.png" alt="elect-your-future-logo"></a>
                </div>
                <div id="hamburger-menu">
                    <div class="o-Hambrg__line1"></div>
                    <div class="o-Hambrg__line2"></div>
                    <div class="o-Hambrg__line3"></div>
                </div>
            </div>
            <ul class="c-Main-nav__items">
                <li class="c-Main-nav__item">
                    <a href="/" class="nav-link">Home</a>
                </li>
                <li class="c-Main-nav__item">
                    <a href="/who-we-are/" class="nav-link">Who we are?</a>
                </li>
                <li class="c-Main-nav__item">
                    <a href="/contact-us/" class="nav-link">Contact</a>
                </li>
                <li class="c-Main-nav__item">
                    <a href="/results/" class="nav-link">Results</a>
                </li>
            </ul>
        </div>

        <div class="c-Section__container">
            <div class="success-icon">
                <div class="success-icon__tip"></div>
                <div class="success-icon__long"></div>
            </div>
            <div class="c-Section__content">
                <h3>Congratulations! You have successfully casted your vote</h3>
                <p>We will notify you through the email address that you provided when the results are out. Also, we assure that once the results are announced we will delete your email id from our database to secure your privacy.</p>
            </div>
            <div class="c-Section__txt-left">
                <div class="c-Section-txt__wrapper c-Section-txt__wrapper--flx-row">
                    <h3>Last date to Poll: </h3>
                    <p>April 11, 2021</p>
                </div>
                <div class="c-Section-txt__wrapper c-Section-txt__wrapper--flx-row">
                    <h3>Results: </h3>
                    <p>April 18, 2021</p>
                </div>
            </div>
            <div class="c-Section__content">
                <p style="margin-bottom: 0;color: #333;">Share it on your profile/group and feel proud.</p>
            </div>
            <div class="c-Section__share">
                <ul class="social_share">
                    <li><a class="facebook" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://electyourfuture.com/results/&quote=I have casted my vote online. It's your turn now.&hashtag=%23electYourFuture"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a class="twitter" target="_blank" href="https://twitter.com/share?url=https://electyourfuture.com/results/&text=I have casted my vote online. It's your turn now.&hashtags=electYourFuture,2021TNelection"><i class="fab fa-twitter"></i></a></li>
                    <li><a class="whatsapp" target="_blank" href="https://web.whatsapp.com/send?text=https://electyourfuture.com/results/"><i class="fab fa-whatsapp"></i></a></li>
                    <li><a class="email" target="_blank" href="mailto:?subject=Tamil Nadu Election cast your vote online&body=I have casted my vote online. It's your turn now."><i class="fa fa-at"></i></a></li>
                    <li><a class="instagram copy copy-animated" href="#" @click.prevent="clickToCopy"><i class="far fa-copy"></i></a></li>
                </ul>
            </div>
            <email-validation inline-template>
                <div class="o-Form">
                    <div class="c-Section__content">
                        <p style="color: #333;">To get notified when the results are out. Please enter your email id.</p>
                    </div>
                    <div class="o-Form-field__wrapper">
                        <input type="email" style="background-color: transparent;" v-model="emailToVerify" autocomplete="off" id="email" name="email" class="o-Form-control" placeholder="Enter your email id here..">
                        <div v-cloak class="o-Form-invalid" v-if="!isValid && formSubmitted">
                            <p>Please enter a valid email id.</p>
                        </div>
                    </div>
                    <div class="o-Form-button__wrapper">
                        <button type="button" @click="saveEmailId" class="o-Btn o-Btn--white o-Btn--animate o-Btn--hyperion">
                            <span><span>Notify the results</span></span>
                        </button>
                    </div>
                </div>
            </email-validation>
        </div>
    </div>
    <script src="/assets/dist/main.js?v=2021040301"></script>
    <script src="/assets/scripts/svg4everybody.min.js?v=2021040301"></script>
    
</body>
</html>