.c-Results-anly__count > span {
    border: 1px solid #dadada;
    border-radius: 50%;
    color: #333;
    width: 5em;
    height: 5em;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: 1.75em;
    box-shadow: 1px 1px 12px 0px rgb(214 214 214);
    text-shadow: 2px 2px 2px #63636363;
}

.c-Results-analytics__wrap {
    padding-top: 2em;
}

.c-Results-anly__count {
    margin-bottom: 2em;
}

.c-Results-anly__count > div:before {
    content: '';
    display: block;
    height: 3em;
    width: 1px;
    background: #dadada;
    text-align: center;
    margin-bottom: .5em;
}

.c-Results-anly__count>div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    color: #000;
    text-transform: uppercase;
    font-size: 1.25em;
}

.c-Results-anly__count>div span {
    color: #848484;
    font-size: .75em;
    padding-top: .5em;
    border-top: 1px solid #dadada;
    margin-top: .5em;
}

/* Progress bar */
@keyframes bar-fill {
    0% {
      width: 0;
    }
  }
  @-webkit-keyframes bar-fill {
    0% {
      width: 0;
    }
  }
  @-moz-keyframes bar-fill {
    0% {
      width: 0;
    }
  }
  @-o-keyframes bar-fill {
    0% {
      width: 0;
    }
  }
  .bar-graph {
    list-style: none;
    margin: 50px 0px auto;
    padding-left: 0;
  }
  
  .bar-wrap {
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -ms-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    background-color: rgba(0, 155, 202, 0.2);
    border: 1px solid rgba(0, 155, 202, 0.8);
    margin-bottom: 10px;
  }
  
  .bar-fill {
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    -ms-border-radius: 10px 10px 10px 10px;
    border-radius: 10px 10px 10px 10px;
    -moz-animation: bar-fill 1s;
    -webkit-animation: bar-fill 1s;
    -ms-animation: bar-fill 1s;
    animation: bar-fill 1s;
    background-color: #009bca;
    display: block;
    height: 15px;
    width: 0px;
  }
  
  .bar-graph  p {
    color: #009bca;
    font-family: "Helvetica";
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
  }

.shield {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='40' height='40' x='0' y='0' viewBox='0 0 511 511.99956' style='enable-background:new 0 0 512 512' xml:space='preserve' class=''%3E%3Cg%3E%3Cg xmlns='http://www.w3.org/2000/svg' id='surface1'%3E%3Cpath d='M 413.476562 341.910156 C 399.714844 379.207031 378.902344 411.636719 351.609375 438.289062 C 320.542969 468.625 279.863281 492.730469 230.699219 509.925781 C 229.085938 510.488281 227.402344 510.949219 225.710938 511.289062 C 223.476562 511.730469 221.203125 511.96875 218.949219 512 L 218.507812 512 C 216.105469 512 213.691406 511.757812 211.296875 511.289062 C 209.605469 510.949219 207.945312 510.488281 206.339844 509.9375 C 157.117188 492.769531 116.386719 468.675781 85.289062 438.339844 C 57.984375 411.6875 37.175781 379.277344 23.433594 341.980469 C -1.554688 274.167969 -0.132812 199.464844 1.011719 139.433594 L 1.03125 138.511719 C 1.261719 133.554688 1.410156 128.347656 1.492188 122.597656 C 1.910156 94.367188 24.355469 71.011719 52.589844 69.4375 C 111.457031 66.152344 156.996094 46.953125 195.90625 9.027344 L 196.246094 8.714844 C 202.707031 2.789062 210.847656 -0.117188 218.949219 0.00390625 C 226.761719 0.105469 234.542969 3.007812 240.773438 8.714844 L 241.105469 9.027344 C 280.023438 46.953125 325.5625 66.152344 384.429688 69.4375 C 412.664062 71.011719 435.109375 94.367188 435.527344 122.597656 C 435.609375 128.386719 435.757812 133.585938 435.988281 138.511719 L 436 138.902344 C 437.140625 199.046875 438.554688 273.898438 413.476562 341.910156 Z M 413.476562 341.910156 ' style='' fill='%235400c2' data-original='%2300dd80' class=''%3E%3C/path%3E%3Cpath d='M 413.476562 341.910156 C 399.714844 379.207031 378.902344 411.636719 351.609375 438.289062 C 320.542969 468.625 279.863281 492.730469 230.699219 509.925781 C 229.085938 510.488281 227.402344 510.949219 225.710938 511.289062 C 223.476562 511.730469 221.203125 511.96875 218.949219 512 L 218.949219 0.00390625 C 226.761719 0.105469 234.542969 3.007812 240.773438 8.714844 L 241.105469 9.027344 C 280.023438 46.953125 325.5625 66.152344 384.429688 69.4375 C 412.664062 71.011719 435.109375 94.367188 435.527344 122.597656 C 435.609375 128.386719 435.757812 133.585938 435.988281 138.511719 L 436 138.902344 C 437.140625 199.046875 438.554688 273.898438 413.476562 341.910156 Z M 413.476562 341.910156 ' style='' fill='%23843fdf' data-original='%2300aa63' class=''%3E%3C/path%3E%3Cpath d='M 346.101562 256 C 346.101562 326.207031 289.097656 383.355469 218.949219 383.605469 L 218.5 383.605469 C 148.144531 383.605469 90.894531 326.359375 90.894531 256 C 90.894531 185.644531 148.144531 128.398438 218.5 128.398438 L 218.949219 128.398438 C 289.097656 128.648438 346.101562 185.796875 346.101562 256 Z M 346.101562 256 ' style='' fill='%23ffffff' data-original='%23ffffff' class=''%3E%3C/path%3E%3Cpath d='M 346.101562 256 C 346.101562 326.207031 289.097656 383.355469 218.949219 383.605469 L 218.949219 128.398438 C 289.097656 128.648438 346.101562 185.796875 346.101562 256 Z M 346.101562 256 ' style='' fill='%23e1ebf0' data-original='%23e1ebf0' class=''%3E%3C/path%3E%3Cpath d='M 276.417969 237.625 L 218.949219 295.101562 L 206.53125 307.519531 C 203.597656 310.453125 199.75 311.917969 195.90625 311.917969 C 192.058594 311.917969 188.214844 310.453125 185.277344 307.519531 L 158.578125 280.808594 C 152.710938 274.941406 152.710938 265.4375 158.578125 259.566406 C 164.4375 253.699219 173.953125 253.699219 179.820312 259.566406 L 195.90625 275.652344 L 255.175781 216.382812 C 261.042969 210.511719 270.558594 210.511719 276.417969 216.382812 C 282.285156 222.25 282.285156 231.765625 276.417969 237.625 Z M 276.417969 237.625 ' style='' fill='%23b4d2d7' data-original='%23b4d2d7' class=''%3E%3C/path%3E%3Cpath d='M 276.417969 237.625 L 218.949219 295.101562 L 218.949219 252.605469 L 255.175781 216.382812 C 261.042969 210.511719 270.558594 210.511719 276.417969 216.382812 C 282.285156 222.25 282.285156 231.765625 276.417969 237.625 Z M 276.417969 237.625 ' style='' fill='%236fa5aa' data-original='%236fa5aa' class=''%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    width: 40px;
    height: 40px;
    display: inline-block;
}

.card {
border: 2px solid #5400c2;
border-radius: 7px;
padding: 1rem;
position: relative;
cursor: default;
margin-top: 4rem;
color: #5400c2;
}
.card > * {
position: relative;
z-index: 1;
}
.card.dark {
border: 2px solid #fff;
color: #fff;
}
.card.dark .background {
background: #000;
}
.card.dark::before {
background: white;
}
.card.dark:hover {
color: #5400c2;
}
.card.dark .card-icon .wrap {
background: #5400c2;
color: #fff;
}
.card .background {
width: 100%;
height: 100%;
position: absolute;
top: 0;
left: 0;
background: #fff;
z-index: -1;
}
.card::before {
content: "";
width: 0%;
height: 100%;
position: absolute;
border-radius: 0 50% 50% 0;
top: 0;
left: 0;
z-index: 0;
transition: 0.3s;
background: #5400c2;
}
.card:hover {
color: #fff;
}
.card:hover::before {
border-radius: 0;
width: 100%;
}
.card .card-icon {
font-size: 2.5rem;
margin-bottom: 0.75em;
}
.card .card-icon .wrap {
background: #fff;
width: 1.7em;
height: 1.7em;
text-align: center;
border-radius: 50%;
position: absolute;
margin-top: -1.3em;
color: #5400c2;
top: 0;
left: 0;
right: 0;
margin-left: auto;
margin-right: auto;
}
.card .card-icon .wrap i {
margin-top: 0.3em;
}
.card .card-title {
font-size: 1.75rem;
text-align: center;
margin-bottom: 0.75em;
}
.card .card-content {
padding-left: 1em;
padding-right: 1em;
text-align: justify;
}
.card-tie {
    color: #888;
    border-bottom: 1px solid;
    padding-bottom: .25rem;
    margin-bottom: .25rem;
}

.card .card-content {
    text-align: center;
}